In [1]:
from dbfread import DBF
import pandas as pd

In [11]:
dbf = DBF(r'C:\Users\taohuang\Downloads\20200609nancypaired6.shp-20220526T193845Z-001\output\20200609nancypaired_15gcp_pj.dbf')
dbf

In [12]:
frame = pd.DataFrame(iter(dbf))
frame

    Field1           x            y         z  index        lat         lon
0        0  523287.320  4779588.315  1415.163      0  43.168696 -116.713510
1        1  523364.669  4779587.901  1413.091      1  43.168690 -116.712559
2        2  523347.101  4779571.386  1415.006      2  43.168542 -116.712776
3        3  523292.471  4779530.766  1418.415      3  43.168178 -116.713449
4        4  523261.446  4779532.147  1419.369      4  43.168191 -116.713831
5        5  523329.469  4779525.610  1418.344      5  43.168130 -116.712994
6        6  523363.860  4779530.064  1417.596      6  43.168169 -116.712571
7        7  523394.301  4779529.544  1416.107      7  43.168164 -116.712197
8        8  523369.977  4779471.100  1421.252      8  43.167638 -116.712498
9        9  523350.138  4779492.353  1420.525      9  43.167830 -116.712742
10      10  523309.664  4779492.732  1422.093     10  43.167835 -116.713240
11      11  523289.035  4779469.338  1424.498     11  43.167625 -116.713494
12      12  523280.395  4779432.804  1428.213     12  43.167296 -116.713602
13      13  523313.421  4779420.761  1429.846     13  43.167186 -116.713196
14      14  523305.912  4779572.552  1415.164     14  43.168554 -116.713282

In [13]:
frame.to_csv(r"C:\Users\taohuang\Downloads\20200609nancypaired6.shp-20220526T193845Z-001\output\20200609nancypaired_15gcp_pj.csv")